html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: black;
    height: 120px;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}
.alap-left{
    display: flex;
    height: 120px;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: white;
}

.alap-right{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/* FRUZSI-kezdooldal*/
