html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: #95bb72;
    height: 12%;
    flex-direction: row;

    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    
}
.alap-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: black;
    height: 100%;
}

.alap-right{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;

}

.item{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;    
}

.alap-right a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;

}

.alap-right a::before,
.alap-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: black;
  transition: all 0.5s;
}

.alap-right a::before {
  top: 0;
  left: 0;
}

.alap-right a::after {
  bottom: 0;
  right: 0;
}

.alap-right a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.alap-right a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.item0 img{
    border-radius: 15px;
    height: 50px;
}
#szov{
    width: 100px;
    font-weight: bold;
}

/* FRUZSI-kezdooldal*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"');

:root {
  --color-primary: #e6175d;
  --color-light: #fff;
  --color-medium: #eeeeee;
  --font-title: "Playfair Display", serif;
  --font-base: Lato, sans-serif;
  --color-dark: #202330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  padding: 60px;
  color: var(--color-dark);
  background-color: var(--color-medium);
  font-family: Montserrat, sans-serif;
}

.l-heading {
  font-size: 64px;
  font-family: var(--font-title);
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
  
  span {
    display: block;
    font-size: 44px;
  }
}

section {
  width: min(90dvw, 768px);
  margin: 0 auto;
  padding: 40px;

  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr;
}


.c-card {
  display: flex;
  align-items: center;
  margin-bottom: 150px;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .c-card__header {
    width: 250px;
    height: 250px;
    border: 1px solid var(--color-primary);

    img {
      display: block;
      margin: 20px;
      width: 250px;
      height: 250px;
    }
  }

  .c-card__content {
    padding: 0 40px;

    h2 {
      margin-bottom: 24px;
      color: var(--color-primary);
    }
    
    p {
      line-height: 2;
    }
  }
}


.fx-reveal {
  opacity: 0;
  transform: translateY(30px);
}

.fx-reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 800ms cubic-bezier(0.5, 0, 0, 1);
}


.cim {
    height: 600px;
    width: 100%;
    background-color: #e6175d;
    justify-content: center;
    align-items: center;
}
