html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: black;
    height: 120px;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}
.alap-left{
    display: flex;
    height: 120px;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: white;
}

.alap-right{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/* FRUZSI-kezdooldal*/
* {
  color-scheme: dark; /* only dark mode support */
}
body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.3rem;
  color: #ddd;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
  background: black;
}
img {
  max-width: 100%;
}
section {
  grid-column: main;
}
section.fullscreen {
  grid-column: full;
  height: 100svh;
  display: grid;
  place-content: center;
  background: linear-gradient(to bottom, #0000 0%, #3456 50%, #0000 100%), #3456;
}
blockquote {
  font-style: italic;
  font-size: 1.6rem;
}
cite {
  display: block;
  font-size: small;
  margin-block: 1rem;
  opacity: .6;
}
hr {
  display: block;
  margin-block: 4rem;
  border: 1px solid #ccc6;
  border-width: 1px 0 0;
}
​
.side-by-side {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.side-by-side__text {
  grid-column: 2;
  margin-trim: block;
  h3 {
    margin-top: 0;
  }
}
h1 {
  text-align: center;
}
p, h2, h3, blockquote, hr {
  /* animation-name: text-appear; @keyframes defined below */
  /* animation-timing-function: ease-in; standard should be linear */
  /* animation-fill-mode: both; keeps animated values forwards and backwards */
  animation: text-appear ease-in both;
  animation-timeline: view(); /* applies animation state relative to viewport */
  animation-range: 0vh 70vh; /* set 0% and 100% positions */
}
img {
  animation: image-appear ease-in both;
  animation-timeline: view();
  animation-range: entry 50% 100vh;
}
@prefers-reduced-motion {
  p, h2, h3, blockquote, hr, img {
    animation: none;
  }
}
​
​
@keyframes image-appear {
  from {
    filter: saturate(0) contrast(4) brightness(.1) blur(3px);
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
  }
}
​
@keyframes text-appear {
  from {
    opacity: 0;
    translate: 0 8rem;
  }
}